<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='icon' href='favicon.ico' type='image/x-icon'/>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Bienvenido a <%= title %></h1>
    <!--<p>Welcome to <%= title %></p>-->
	<p>El portal donde podr&aacute; crear sus propios juegos de preguntas!</p>
	<p><a href="/quizes/question">Comience a jugar!</a></p>
  </body>
</html>
