<!DOCTYPE html>
<html lang="es">
<html>
	<head>
		<meta charset="utf-8">
		<title>Quiz</title>
		<link rel="stylesheet" href="/stylesheets/style.css"/>
		<link rel="stylesheet" type="text/css" media="only screen and (min-width: 64.063em)" href="/stylesheets/wide.css"/>
		<link rel="stylesheet" type="text/css" media="only screen and (max-width: 30.000em)" href="/stylesheets/smartphone.css"/>
	</head>
	<body>
		<div id="page-wrap">
			<header class="main" id="h1">	
				<h2>Quiz: <span>el juego de las preguntas<span></h2>
			</header>
			<nav class="main" id="n1" role="navigation">
				<span><a href="/">Inicio</a></span>
				<span><a href="/quizes">Preguntas</a></span>
				<span><a href="/author">Cr&eacute;ditos</a></span>
			</nav>			
			<section class="main" id="s1">
				<% if (errors.length) { %>
					<span id="ErrorMsgs">
						Corregir Errores: <br/>
						<% for (var i in errors) { %>
							<span> <%= errors[i].message %> </span> <br/>
						<% } %>
					</span>	
				<% } %>					
				<%- body %>
			</section>
			<footer class="main" id="f1">
				<span><a href="http://es.wikipedia.org/wiki/Quiz">¿Qué es un Quiz?</a></span>&nbsp;
				<span><a href="https://github.com/roabhi/quiz" target="_blank"	>Proyecto en GitHub</a></span>
			</footer>			
		</div>
		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function(e){			
			
			document.location.pathname === '/' ? alert('Este deploy está basado en el Ejercicio P2P obligatorio del Módulo 8 del temario. Si estás corregiendo la entrega del módulo 7 con este deploy puedes ADEMÁS añadir, editar o borrar preguntas. También puedes seleccionar un tema para cada pregunta entre una lista de temas predefinidos.') : null;
		
			}, false);
		</script>
	</body>	
</html>